

* {
    margin: 0;
    padding: 0;
}
*,*:after,*:before {
    box-sizing: inherit;
}

:root {
    --header-background : #ededed;
    --userSearch-background :#f6f6f6;
    //background-color: var();
}

html {
    box-sizing: border-box;
    font-size : 62.5%; // 1rem = 10px, 10px/16px = 62.5%
}
.body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    line-height: 1.6rem;
}
::-webkit-scrollbar {
    width: 6px !important;
    height: 6px !important;
  }

  ::-webkit-scrollbar-track {
    background: white;
}
::-webkit-scrollbar-thumb {
    background: #d4d4d4;
  }
.container {
    width:  100vw;
    height: 100vh;
    display: flex ;
}
///////////////////////
/// SIDEBAR SECTION

.sidebar {
    width : 35%;
    max-height:100vh ;
    overflow: hidden;
    // background-color: orange;

}

.user-header {
    width: 100%;
}
.user-header__state {
    padding : 1.5rem 1.6rem;
    background-color: var(--header-background);
    display: flex;
    justify-content: space-between;
    align-items: initial;
}
.user-img {
    height: 4rem;
    width: 4rem;
    // background-image: cover;
    border-radius:50% ;
}

.user-sts {
    margin-right: 2rem;
}
.item {
    background-color:transparent;
    border:none;
    outline: none;
    cursor:pointer;
    &:not(:first-child){
        margin-left: 2rem;
    }
}

.search {
    padding: 1rem 1.6rem;
    background-color: var(--userSearch-background);
    border-bottom:  1px solid rgba(0,0,0,.08);
}

.user-search {

    &__input {
        width : 95%;

        border:none;
        outline:none;
        // text-align: center;
        padding: 1.2rem 0;
        padding-left: 7rem;
        border-radius: 1.8rem;
        z-index: -9;

        &::placeholder {
            color: #c0beb5;
            font-size: 1.5rem;

        }

        &:focus::-webkit-input-placeholder {
            opacity: 0;
        }

        // &:focus {
        //     width: 200%;
        //     height: 100%;
        //     margin:0;
        //     padding: 0;
        //     height: 100%;
        //     z-index: 200;
        //     background-color: white;
        //}
    }
    &__btn {
        outline:none;
        border:none;
        z-index: 100;
        margin-left: 1.8rem;
        margin-top: .9rem;
        position: absolute;
        background-color: transparent;
    }
}
.search-logo {
    color : #eee;
}

///////////////////////
/// CONTACTS SECTION
.contacts {
    overflow-y: scroll;
    height: 50rem;
}
.contact{
    display: flex;
    padding : 1rem 1.6rem;

}

.contact-content {
    margin-left: 2rem;
    display: flex;
    flex-direction: column;
    padding-right: 1.2rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-bottom : 1px solid rgba(0,0,0,.08);
    &-info {
        min-width: 36rem;
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        margin-bottom: .9rem;
    }
}
.contact-id {
    font-size: 1.9rem;
    font-weight: 400;
    font-family: inherit;
}

.contact-when {
    font-size: 1.3rem;
    font-weight: 300;


}
.contact-content-msg {
    margin-bottom: 1.3rem;
}
///////////////////////
/// MAIN SECTION


.whats-view {
    // background-color: turquoise ;
    background-color: #f8f9fa;
    width: 65%;
    border-left: 1px solid rgba(0,0,0,.08);
    border-bottom: .6rem solid #4adf83;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.view-cntent {
    max-width: 56rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    // padding-left: 4rem;
}

.view{
    padding-top: 4rem;
    margin-bottom: 3rem;
    height: 29rem;
    width:  29rem;
    text-align: center;
    &-img{
        height: 100%;
    }

}

.view-description {
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-bottom:.1rem solid rgba(0,0,0,.08);

    &-title {
        font-weight: 300;
        font-size: 3.6rem;
        color: rgba(0,0,0,.6);
        font-family: inherit;
    }

    &-paragraph{
        margin-top: 2rem;
        font-family: inherit;
        font-size: 1.7rem;
        font-weight: 400;
        color: rgba(0,0,0,.45);
        margin-bottom: 3rem;
    }
}



.view-download {
    margin-top: 4rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgba(0,0,0,.45);
    font-weight: 300;
    font-size: 1.8rem;
    display: flex;
    align-self: center;
    &-img {
        // height: 1.7rem;
        padding-top: .2rem;
        padding-right: .4rem;
    }
    &-link {
        text-decoration: none;
        color: #4adf83;
    }
}
